.login-form {
    height: 400px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px 20px;
}

.login-form-header {
    font-size: 30px;
}

.login-form-text {
    color: #007bff;
    cursor: pointer;
}

.login-form-error {
    color: red;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.inline-block {
    display: inline-block;
}
