.user-header {
    background-color: #4257b2;
}

.user-header-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    color: white;
    font-size: 20px;
}

.user-header-search {
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 10px;
}

.user-header-search-folder-drop-box {
    max-height: 300px;
    overflow-x: hidden;
}

.search-folder-item {
    display: block;
    text-align: left;
    cursor: pointer;
}

.search-folder-item-author {
    font-size: 12px;
    display: block;
    margin-left: 5px;
}
