.sign-up-form {
    height: 550px;
    width: 500px;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 5%);
}
.sign-up-form-header {
    font-size: 30px;
}

.sign-up-form-error {
    color: red;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.inline-block {
    display: inline-block;
}
